@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400&display=swap");


body{
    background-color: hsl(218, 23%, 16%); 
    padding: 0; 
    margin: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Manrope;
    font-size: 1rem;
}


main{
    background-color: hsl(217, 19%, 24%);
    max-width: 310px;
    text-align: center;
    margin: 10px auto;
    padding: 30px 10px;
    border-radius: 15px;
    height: auto;
    position: relative;

}
h4{
    color: hsl(150, 100%, 66%);
    padding: 10px;
    font-size: 0.9rem;
    letter-spacing: 3px;
    margin: 9px auto;
}
blockquote{
    color: hsl(193, 38%, 86%);
    font-size: 1.5rem;
    margin: 5px;
    padding: 10px;
    font-weight: 700;
    letter-spacing: 2px;
}
svg.dice{
    display: block;
    margin: 10px auto;
    padding:20px;
    max-width: 100%;
    background-color:  hsl(150, 100%, 66%);
   position: absolute;
   border-radius: 50%;
   /* right: 140px; */
   /* right: 8rem; */
   bottom: -2.6rem;
   /* transform: translateX(35px); */
   right: 50%;
   transform: translateX(50%);
}
svg.dice:active{
    box-shadow: 0 0 80px 10px hsl(150, 100%, 62%);
    opacity: 1;
    cursor: pointer;
}
svg.dice:hover{
    box-shadow: 0 0 80px 10px hsl(150, 100%, 62%);
    cursor: pointer;
}
.dicepath{
    margin: 5px auto;
    padding: 10px;
}
.underline{
    padding: 9px;
    margin: 10px auto;
    
}
@media screen and (min-width:1000px) {
main{
max-width: 420px;
}
}